.fg-clr-white{
    color: #ffffff;
}
.bg-clr-white{
    background-color: #ffffff;
}

.border-none{
    border: none;
}
.mg-0-auto{
    margin: 0 auto;
}
.mg-0-175{
    margin: 0 175px;
}
.mg-top-15px{
    margin-top: 15px;
}
.mg-left-15px{
    margin-left: 15px;
}
.mg-top-1{
    margin-top: 1.5em; 
}
.mg-bottom-6{
    margin-bottom: 6em;
}
.mgn-btm-sl{
    margin-bottom: .5rem;
}
.mg-bottom{
    margin-bottom: 15px;
}
.grid-item-ct{
    display: grid;	
}
.flex-around{
    display: flex;
    justify-content: space-between;
}
.flex-item-start{
    display: flex;
    justify-content: flex-start;
}
.font-bd{
    font-weight: 600;
}
.font-sm{
    font-weight: 400;
}
.padding-4{
    padding: 0 0 0 1.2em;
}
.padding-auto-12{
    padding: 0 12em;
}
.padding-auto-3{
    padding: 0 3em;
}
.pd-top{
    padding-top: 25px;
}